<h1>Examplequeries#step1</h1>
<p>Find me in app/views/examplequeries/step1.html.erb</p>

<%= link_to 'Basic', '/subscribe/step2?plan=basic' %>
<%= link_to 'Silver', '/subscribe/step2?plan=silver' %>
<%= link_to 'Gold', '/subscribe/step2?plan=gold' %>
