<h1 class="text-center whiteBoardHeader">Add this?</h1>
<%= image_tag(@product.image, class: "planPic")%>
<%=@product.name%><br>
$<%=@product.price%><br>

<%=button_to "Confirm", add_extra_path(params[:id], params[:product])%>
