<h1>Pick A Plan</h1>

<h3>Plan1 <%=link_to 'Select', "/join/add?plan=plan1" %></h3>
<h3>Plan2 <%=link_to 'Select', "/join/add?plan=plan2"%></h3>
<h3>Plan3 <%=link_to 'Select', "/join/add?plan=plan3"%></h3>
